{% extends 'layout.html' %} {% block content %}
<h1>Signup Form</h1>
<form action="/signup.html" method="POST" class="box">
  <div class="input__wrapper">
    <input
      id="Username"
      type="text"
      name="username"
      placeholder="Username"
      class="input__field"
    />
  </div>
  <div class="input__wrapper">
    <input
      id="Password"
      type="password"
      name="password"
      placeholder="Password"
      class="input__field"
    />
  </div>
  <div class="input__wrapper">
    <input
      id="DateOfBirth"
      type="date"
      name="dob"
      placeholder="Date of Birth"
      class="input__field"
    />
  </div>
  <div class="validation-warning">
    <h2 id="ConfirmationText">No Password</h2>
    <p id="MinimumText">
      <img src="static\images\bad.svg" />
      12 characters minimum for passwords
    </p>
    <p id="SpecialChars">
      <img src="static\images\bad.svg" />
      special character in password
    </p>
    <p id="TooBasic">
      <img src="static\images\bad.svg" />
      uncommon password
    </p>
  </div>
  <div class="input__wrapper">
    <button id="submitButton" type="submit" class="btn">Submit</button>
  </div>
</form>
<script>
  const specialChars = ["@", "#", "(", ")", "$"];
  const commonPasswords = ["password", "01234567890", "qwertyuiop"];

  const usernameInput = document.getElementById("Username");
  const passwordInput = document.getElementById("Password");
  const DoBInput = document.getElementById("DateOfBirth");
  let ConfirmationText = document.getElementById("ConfirmationText");

  let CurrentImg = null;

  let NotBasic = false;
  let MinimumText = false;
  let SpecialChars = false;

  const ValidationWarning = document.querySelector(".validation-warning");

  passwordInput.addEventListener("input", function () {
    if (passwordInput.value.length > 12) {
      MinimumText = true;
      console.log("hallo!!");
      CurrentImg = document.getElementById("MinimumText").querySelector("img");
      CurrentImg.src = "static/images/good.svg";
      CurrentImg.style.transform =
        "translate(0px, 2px) rotate(0deg) scale(1.5,1.5)";
    } else {
      MinimumText = false;
      CurrentImg = document.getElementById("MinimumText").querySelector("img");
      CurrentImg.src = "static/images/bad.svg";
      CurrentImg.style.transform =
        "translate(0px, 2px) rotate(90deg) scale(1,1)";
    }
    let containsWord = specialChars.some((word) =>
      (" " + String(passwordInput.value)).includes(word)
    );
    if (containsWord) {
      console.log("omg you did it");
      SpecialChars = true;
      CurrentImg = document.getElementById("SpecialChars").querySelector("img");
      CurrentImg.src = "static/images/good.svg";
      CurrentImg.style.transform =
        "translate(0px, 2px) rotate(0deg) scale(1.5,1.5)";
    } else {
      SpecialChars = false;
      CurrentImg = document.getElementById("SpecialChars").querySelector("img");
      CurrentImg.src = "static/images/bad.svg";
      CurrentImg.style.transform =
        "translate(0px, 2px) rotate(90deg) scale(1,1)";
    }
    let simplePassword = commonPasswords.some((word) =>
      (" " + String(passwordInput.value)).includes(word)
    );
    if (simplePassword) {
      NotBasic = false;
      console.log("omg you did it");
      CurrentImg = document.getElementById("TooBasic").querySelector("img");
      CurrentImg.src = "static/images/bad.svg";
      CurrentImg.style.transform =
        "translate(0px, 2px) rotate(90deg) scale(1,1)";
    } else {
      NotBasic = true;
      CurrentImg = document.getElementById("TooBasic").querySelector("img");
      CurrentImg.src = "static/images/good.svg";
      CurrentImg.style.transform =
        "translate(0px, 2px) rotate(0) scale(1.5,1.5)";
    }
    let submitButton = document.getElementById("submitButton");
    //console.log(NotBasic, MinimumText, SpecialChars);
    if (NotBasic && MinimumText && SpecialChars) {
      console.log("all three!");
      //submitButton.disabled = false; //here is where it errors
      submitButton.style.backgroundColor = "#bbb";
      ConfirmationText.innerHTML = "You're good to go!";
    } else {
      console.log("not all three!");
      //submitButton.disabled = true;
      submitButton.style.backgroundColor = "#c76b73";
      ConfirmationText.innerHTML = "Still has some issues.";
    }
  });
</script>
{% endblock %}
